---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.10.0
  creationTimestamp: null
  name: openvpns.vpn.example.com
spec:
  group: vpn.example.com
  names:
    kind: Openvpn
    listKind: OpenvpnList
    plural: openvpns
    singular: openvpn
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Openvpn is the Schema for the openvpns API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: OpenvpnSpec defines the desired state of Openvpn
            properties:
              foo:
                description: Foo is an example field of Openvpn. Edit openvpn_types.go
                  to remove/update
                type: string
            type: object
          status:
            description: OpenvpnStatus defines the observed state of Openvpn
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
